@model Fiap.Web.Aula03.Models.Filme

@{
    ViewData["Title"] = "Cadastrar";
}

<alert alert-type="@TempData["mensagem"]"></alert>

<h1>Cadastrar</h1>

<h4>Filme</h4>
<hr />
<div class="row">
    <div>
        <form asp-action="Cadastrar">
            <partial name="_Form" />
            <input is-submit-button />
        </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
