@model Fiap.Web.Aula03.Models.Filme

@{
    ViewData["Title"] = "Update";
}

<h1>Editar</h1>

<h4>Filme</h4>
<hr />
<div class="row">
    <div>
        <form asp-action="Update">
            <input asp-for="FilmeId"/>
            <partial name="_Form" />
            <input is-submit-button />
        </form>
    </div>
</div>





@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
